[submodule "openwrt-redsocks2"]
	path = openwrt-redsocks2
	url = git@github.com:dinstein/openwrt-redsocks2.git
[submodule "openwrt-chinadns"]
	path = openwrt-chinadns
	url = https://github.com/aa65535/openwrt-chinadns
[submodule "openwrt-dist-luci"]
	path = openwrt-dist-luci
	url = https://github.com/aa65535/openwrt-dist-luci
[submodule "openwrt-shadowsocks"]
	path = openwrt-shadowsocks
	url = https://github.com/aa65535/openwrt-shadowsocks
[submodule "openwrt-shadowvpn"]
	path = openwrt-shadowvpn
	url = https://github.com/aa65535/openwrt-shadowvpn
